/* Layout */
#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 10px 20px;
}


/* List Form and List */
#todo-item {
  padding: 5px;
  width: 240px;
  border: 1px solid gray;
}

#add {
  padding: 3px 5px;
  margin-bottom: 10px;
  width: 75px;
}

ul#list li {
  padding-bottom: 2px;
}

ul#list li span.completed {
  text-decoration: line-through;
}

ul#list .list-check-off {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-right: 2px;
}

ul#list .read-item-title {
  padding: 0 6px;
}

ul#list .edit-item-title {
  padding: 0 5px;
  border: 1px solid gray;
}

/* Item Counter and Delete Button */
#item-counter-and-delete-button {
  padding: 25px 0 0;
}

#delete-completed-items {
  padding: 3px 5px;
  width: 200px;
}